In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data_awal = pd.read_csv('50_Startups.csv')
data_awal.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
transformer_list = [
     ('encoded', OneHotEncoder(dtype='int'), ['State']),
     ('skip', 'passthrough', ["R&D Spend", "Administration", "Marketing Spend", "Profit"])
]

In [6]:
coltran = ColumnTransformer(transformer_list)
tran = coltran.fit_transform(data_awal)

In [7]:
data_baru = pd.DataFrame(tran, columns=coltran.get_feature_names())
data_baru.head()

,encoded__x0_California,encoded__x0_Florida,encoded__x0_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0.0,0.0,1.0,165349.20,136897.80,471784.10,192261.83
1,1.0,0.0,0.0,162597.70,151377.59,443898.53,191792.06
2,0.0,1.0,0.0,153441.51,101145.55,407934.54,191050.39
3,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
4,0.0,1.0,0.0,142107.34,91391.77,366168.42,166187.94

In [8]:
X = data_baru.iloc[:, :-1].values
y = data_baru.iloc[:, 6].values

In [9]:
y = y.reshape(len(y), 1)
y.shape

(50, 1)

In [10]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [11]:
mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)

In [12]:
gabung = np.concatenate((ym_test, ym_pred), axis=1)
gabung

array([[ 96712.8       ,  84457.16115254],
       [ 90708.19      ,  72543.44544735],
       [191792.06      , 186070.97934498],
       [ 81229.06      ,  67431.79651297],
       [152211.77      , 150237.4771915 ],
       [126992.93      , 113635.43439889],
       [ 96479.51      ,  88703.0022446 ],
       [134307.35      , 124781.17620402],
       [101004.64      , 101217.7795176 ],
       [108552.04      , 113863.68825244]])

In [13]:
r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.8971342853078359